
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.header {
    width: auto;
    padding: 20px 35px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    top:0;
    /* flex hacia abajo cuando esta en mobil */
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #ff5959;
}

.logo {
    width: 50px;
}

.Header-button {
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.Header-nav-svg {
    width: 3em;
    height: 3em;
    color: var(--thirdColor);
}

.Header-nav {
    width: 60%;
}

.Header-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
}

.Header-nav a {
    text-decoration: none;
    color: black;
}

.Header-li p {
    margin: 0;
    font-size: 18px;
}

/* mobile */
@media screen and (max-width: 678px) {
    .header {
        padding: 20px 40px;
    }

    .Header-button {
        display: flex;
    }

    .Header-nav {
        width: 100%;
        height: 0vh;
        opacity: 0;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    .Header-nav.isActive {
        height: 35vw;
        opacity: 1;
    }

    .Header-ul {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .Header-li {
        margin: 10px;
    }

    .Header-li p {
        font-size: 3vw;
    }

    .logo {
        width: 30vw;
    }
}